:root {
    --primary_color : #45171d;
    --secondary_color : #402a23;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.calculator-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: var(--secondary_color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}


.calculator {
    width: 300px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.calculator-screen {
    width: 100%;
    height: 50px;
    border: none;
    background: #eaeaea;
    border-radius: 5px;
    text-align: right;
    padding: 10px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    height: 50px;
    background: var(--primary_color);
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background: var(--secondary_color);
}

.btn:active {
    background: var(--secondary_color);
}

